/* src/pages/Projects.css */
.projects {
    text-align: center;
    padding: 20px;
  }
  
  .projects h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  .projects p {
    font-size: 1.2em;
  }
  